img[class*=d-block]{
    object-fit: cover;
    vertical-align: middle;
    border-style: none;
    height: 60vh;
}

.custom-link {
color: #293133;
}
a:hover {
color: green;
}

.nav-link {
color: red;
}
a:hover {
color: green;
}
