{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="card mx-auto" style="width: 500px;">
            <img src="/media/{{ product.photo }}" class="card-img-top mt-2">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description }}</p>
                <p class="card-text">Цена: {{ product.price }} руб/кг</p>
                <a href="{% url 'catalog:home' %}" class="btn btn-outline-success">Назад</a>
                <a href="{% url 'catalog:home' %}" class="btn btn-outline-success">В корзину</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}