<div class="container-fluid">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom box-shadow">
        <img src="/static/images/favicon.png" width="30" alt="">
        <h5><a class="nav-link mt-2 fw-normal ms-2" href="{% url 'catalog:home' %}">Магазин</a></h5>

        <nav class="navbar navbar-expand-lg ms-5 ">
            <div class="container-fluid">
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Каталог</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'catalog:contacts' %}"> <i
                                    class="fa-sharp fa-solid fa-location-arrow"></i> Контакты</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#"> <i class="fa-solid fa-user"></i> Войти</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#"> <i
                                    class="fa-solid fa-cart-shopping"></i> Корзина</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#"> <i
                                    class="fa-solid fa-heart"></i> Избранное</a>
                        </li>
                    </ul>
                    <form class="d-flex ms-5">
                        <input class="form-control me-2" type="search" placeholder="Поиск по сайту" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit"><i
                                class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
</div>