{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
<div class="d-flex mt-4">
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card mb-4 box-shadow">
            <div class="card-header text-muted" style="background-color: #FFFFFF">
                <h4 class="my-0 font-weight-normal">Добавьте свой продукт</h4>
            </div>
            <div class="card-body">
                <form method="post" action="" class="form-floating" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <input type="text" name="name" class="form-control" id="name"
                               placeholder="Введите название продукта"
                               required>
                    </div>
                    <div class="mb-3">
                            <textarea name="description" class="form-control" id="description"
                                      placeholder="Добавьте описание продукта" required></textarea>
                    </div>
                    <div class="input-group mb-3">
                        <select name="category" class="form-select text-muted" id="inputGroupSelect01">
                            <option selected>Выберите категорию продукта</option>
                            {% for category in categories %}
                            <option value="{{ category.pk }}">{{ category.name }}</option>
                            <li><a class="dropdown-item text-muted" href="#section{{ category.pk }}">{{ category.name
                                }}</a></li>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" name="price" class="form-control" placeholder="Введите цену продукта">
                        <span class="input-group-text" id="basic-addon2">руб/кг</span>
                    </div>
                    <!--                    <div class="input-group mb-3">-->
                    <!--                        <input name="photo" type="file" class="form-control" id="inputGroupFile02">-->
                    <!--                        <label class="input-group-text text-muted" for="inputGroupFile02">Загрузите фото</label>-->
                    <!--                    </div>-->
                    {{ form | crispy}}
                    <button type="submit" class="btn btn-lg btn-block btn-outline-success">Отправить</button>
                </form>
            </div>
        </div>
    </div>
</div>