{% extends 'catalog/base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow" style="height: 96%">
                <div class="card-header text-muted">
                    <h4 class="my-0 font-weight-normal">Контактная информация</h4>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">123456, г. Москва, ул. Московская, д. 1</li>
                        <li class="list-group-item"><br>+7 (495) 123 45 67</li>
                        <li class="list-group-item"><br>magazin@email.com</li>
                        <li class="list-group-item"><br>Ежедневно с 10:00 до 22:00</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow">
                <div class="card-header text-muted" style="height: 96%">
                    <h4 class="my-0 font-weight-normal">Свяжитесь с нами</h4>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-lg btn-block btn-outline-success">Отправить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container-flex">
        <div style="position:relative;overflow:hidden;"><a
                href="https://yandex.ru/maps/213/moscow/?utm_medium=mapframe&utm_source=maps"
                style="color:#eee;font-size:12px;position:absolute;top:0px;">Москва</a><a
                href="https://yandex.ru/maps/geo/moskva/53166393/?ll=37.617700%2C55.755863&utm_medium=mapframe&utm_source=maps&z=10"
                style="color:#eee;font-size:12px;position:absolute;top:14px;">Москва — Яндекс Карты</a>
            <iframe src="https://yandex.ru/map-widget/v1/?ll=37.617700%2C55.755863&mode=poi&poi%5Bpoint%5D=37.617617%2C55.755811&poi%5Buri%5D=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgg1MzE2NjM5MxIa0KDQvtGB0YHQuNGPLCDQnNC-0YHQutCy0LAiCg14eBZCFfUFX0I%2C&z=10"
                    width="100%" height="400" frameborder="1" style="position:relative;"></iframe>
        </div>
    </div>
</div>
{% endblock %}