{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="card mx-auto" style="width: 500px;">
            <img src="{{ product.photo| mymedia }}" class="card-img-top mt-2">
            <div class="card-body">
                <h5 class="card-title">{{ object.name }}</h5>
                <p class="card-text">{{ object.description }}</p>
                <p class="card-text">Категория: {{ object.category }}</p>
                <p class="card-text">Цена: {{ object.price }} руб/кг</p>
                <a href="{% url 'catalog:product_list' %}" class="btn btn-outline-success">Назад</a>
                <a href="#" class="btn btn-outline-success">В корзину</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}