{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <td class="display-6">{{ object.name }}</td>
                        </tr>
                        <tr>
                            <td><img src="{{ object.photo| mymedia }}" class="card-img-top mt-2"></td>
                        </tr>
                        <tr>
                            <td>{{ object.description }}</td>
                        </tr>
                        <tr>
                            <td>Категория: {{ object.category }}</td>
                        </tr>
                        <tr>
                            <td>Цена: {{ object.price }} руб/кг</td>
                        </tr>
                    </table>
                    <a href="{% url 'catalog:product_list' %}" class="btn btn-outline-success">Назад</a>
                    <a href="#" class="btn btn-outline-success">В корзину</a>
                    <a href="{% url 'catalog:product_update' object.pk %}" class="btn btn-outline-success">Редактиовать</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}